<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title if title else "Rasmine Blas - Portfolio" }}</title>
  <link rel="icon" href="{{ url_for('static', filename='images/website logo.png') }}">
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>
  <!-- Navbar -->
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/circle">Circle</a></li>
      <li><a href="/triangle">Triangle</a></li>
      <li><a href="/touppercase">Uppercase</a></li>
      <li><a href="/linkedlist">Linked List</a></li>
      <li><a href="/infixtopostfix">Infix to Postfix</a></li>
    </ul>
  </nav>

  <!-- Page Content -->
  <main class="fade-in">
    {% block content %}{% endblock %}
  </main>

  <script src="{{ url_for('static', filename='scroll.animate.js') }}"></script>
</body>
</html>



